@import url("https://fonts.googleapis.com/css?family=Open Sans");
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

body, h1, h2, h3, h4, h5, h6, p, button {
  font-family: 'Open Sans';
}

h1, h2 {
  color: #433683;
}

h3, h4, h5 {
  color: #bd27b9;
}

code {
  font-family: 'Source Code Pro';
}

th {
  color: #433683;
}

.panel-heading {
  color: #bd27b9;
  padding-bottom: 10px;
}

.btn-primary {
  background-color: #0097d7;
}

.btn-success {
  background-color: #80ba27;
}

.tidyverse-logo {
  float: left;
  width: 150px;
}

.tutorial-exercise-output {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 75%;
}

img {
  max-width: 100%;
}

.info_box{
  border-style: solid;
  border-width: 1px;
  border-color: #bd27b9;
  border-radius: 5px;
  padding: 10px;
}